.pagination {
  @apply flex w-full justify-center mt-10 gap-1;
}
.item {
  @apply cursor-pointer text-lg w-10 h-10 flex items-center justify-center rounded-full;
  border: 1px solid transparent;
}
.item:hover {
  border-color: var(--c-secondary);
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.dots {
  pointer-events: none;
  opacity: 0.8;
}
.selected {
  @apply pointer-events-none;
  background: var(--c-primary);
  color: #fff;
}
