@tailwind base;
@tailwind components;
@tailwind utilities;

@import "src/styles/mixins";

/* color: var(--c-primary); */
/* accent-color: var(--c-primary); */

:root {
  --c-primary: #1a1a1a;
  --c-secondary: #bababa;
  --c-white: #fff;
  --window-height: 100vh;
  /* --page-padding: 0.5rem; */
  /* --max-container: 105rem; */
  --page-padding: 32px;
  --max-container: 1800px;
  --b-radius: 5px;
  --b-default: 1px solid var(--c-primary);
  --container-size: min(100%, 49.6875rem);
  --hero-bottom-padding: 6.25rem;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  max-width: min(100%, var(--max-container));
  margin: 0 auto;
  color: var(--c-primary);
  padding-bottom: 100px;
  /* scroll-behavior: smooth; */

  @include max(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

button {
  outline: none;
}

.icon {
  fill: currentColor;
}

.h1 {
  font-size: 140px;
  @include max(lg) {
    font-size: 100px;
  }
  @include max(md) {
    font-size: 80px;
  }
  @include max(sm) {
    font-size: 60px;
  }
}
.h2 {
  font-size: 100px;
  @include max(lg) {
    font-size: 80px;
  }
  @include max(md) {
    font-size: 60px;
  }
  @include max(sm) {
    font-size: 40px;
  }
}

.text {
  font-size: 24px;
  @include max(lg) {
    font-size: 20px;
  }
}
.caption {
  font-size: 24px;
  max-width: var(--container-size);
  @include max(lg) {
    font-size: 20px;
  }
}

.link {
  @apply text-xl;
  @include max(lg) {
    @apply text-base;
  }
}
.link:hover {
  text-decoration: underline;
}

.card-grid {
  @apply grid grid-cols-3 gap-y-5 gap-x-10;
  @include max(lg) {
    @apply grid-cols-2;
  }
  @include max(sm) {
    @apply grid-cols-1;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--c-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.btn {
  @apply text-xl cursor-pointer;
  border: 1px solid var(--c-primary);
  background: var(--c-primary);
  color: #fff;
  padding: 5px 20px;
  border-radius: 40px;
  @include max(lg) {
    @apply text-base;
  }
}
.btn:hover {
  background: transparent;
  color: var(--c-primary);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
