$breakpoints: (
  xs: 320,
  sm: 480,
  md: 768,
  lg: 1024,
  xl: 1200,
);

@mixin max($size) {
  @if map-has-key($breakpoints, $size) {
    @media (max-width: #{map-get($breakpoints, $size)}px) {
      @content;
    }
  } @else {
    @media (max-width: #{$size}px) {
      @content;
    }
  }
}

/* ** example usage adaptive ** *
body {
  font-size: 16px;

  ** use number **
  @include max(1200) {
    font-size: 14px;
  }
  ** use variable **
  @include max(lg) {
    font-size: 14px;
  }
}
* ** example usage adaptive ** */
