@import "@/styles/mixins";

.date {
  position: absolute;
  top: -24px;
  right: 0;
  // transform: translate(0, -100%);
  text-align: right;
  @include max(600) {
    top: 11px;
  }
}
.info {
  position: relative;
  display: grid;
  gap: 40px;
  grid-template-columns: 250px 1fr 300px;
  /* display: flex;
  gap: 40px;
  justify-content: space-between; */
  padding: 10px 0;
  margin-bottom: 40px;
  border-top: 1px solid var(--c-primary);
  border-bottom: 1px solid var(--c-primary);

  @include max(xl) {
    gap: 20px;
    grid-template-columns: 200px 1fr;
  }
  @include max(600) {
    grid-template-columns: 1fr;
  }
}
.info > div {
  white-space: nowrap;
}
.content {
  display: grid;
  gap: 40px;
  grid-template-columns: 250px 1fr 300px;
  @include max(xl) {
    gap: 20px;
    grid-template-columns: 200px 1fr 300px;
  }
  @include max(lg) {
    & > div:nth-child(1) {
      display: none;
    }
    grid-template-columns: 1fr 300px;
  }
  @include max(md) {
    grid-template-columns: 1fr 200px;
  }
  @include max(600) {
    grid-template-columns: 1fr;
  }
}

.otherArticles {
  @apply grid grid-cols-2 gap-10 mt-10;
  @include max(600) {
    @apply grid-cols-1;

    & > div {
      display: none;
    }
  }
}
