@import "@/styles/mixins";

.footer {
  border-top: 1px solid var(--c-primary);
  padding: 20px 0 40px;
  margin-top: 80px;

  @include max(md) {
    margin-top: 60px;
  }
  @include max(sm) {
    margin-top: 40px;
  }
}
.links {
  @apply grid grid-cols-4 gap-5;
  @include max(md) {
    @apply grid-cols-2;
  }
  @include max(600) {
    @apply grid-cols-1;
  }
}
